<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Student</title>
</head>
<body>
    <h1>Add Student</h1>
    <form method =  "POST">
        ID: <input type="text" name="student_id" required><br>
        Name: <input type="text" name="name" required><br>
        Age: <input type="number" name="age" required><br>
        Major:
        <select name="major">
            <option>Computer Science</option>
            <option>Data Science</option>
            <option>Statistic</option>
        </select><br>
        Gender: 
        <input type="radio" name="gender" value="Male" required> Male
        <input type="radio" name="gender" value="Female" required> Female
        <button type="submit">Submit</button>
     </form>
</body>
</html>